footer
	background-image: url('../../img/footer_bg.png')
	margin-top: 5rem
	h3 
		color: #ffffff
		margin: 2rem 0
	input[type='text']
		border: none
		background: transparent
		border-bottom: 1px solid $brown
		width: 100%
		padding: 0.5rem 1rem
	input[type='button']
		background: $warning
		color: #ffffff
		border: 1px solid $warning
		padding: 0.5rem 2rem
		border-radius: 0
	img
		margin: 1rem 0
		width: 100%
.copyright
	padding: 1rem
