<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row.align-items-center
			.col-12.col-md-2
				h3 Đăng ký nhận bản tin
			.col-12.col-md-4
				.text-muted Đăng ký email để nhận những thông tin mới nhất của Tutto Việt nam
			.col-8.col-md-4
				input.text-muted(type="text" placeholder="Nhập email...")
			.col-4.col-md-2
				button Đăng ký
		.row
			img(src="img/line_footer.png", alt="")
		.row.pt-3
			.col-12.col-md-6
				.row.align-items-center
					.col-2
						img(src="img/logo_footer.png", alt="")
					.col-10
						h4.text-white CÔNG TY TNHH TUTTO VIỆT NAM
						.text-muted 611/27 Điện Biên Phủ, Phường 1, Quận 3,
						.text-muted Tp. Hồ Chí Minh, Việt Nam.
						.text-muted ĐT: 028 2645 6258
						.text-muted Mail: info@tuttovietnam.com.vn
			.col-12.col-md-6
				.row
					.col-xs-12.col-md-4
						h4.text-white SẢN PHẨM
						p
							a.text-muted(href="#") Lốp xe tải - xe buýt
						p
							a.text-muted(href="#") Lốp xe nâng
						p
							a.text-muted(href="#") Lốp xe nông nghiệp
						p
							a.text-muted(href="#") Lốp xe công nghiệp
						p
							a.text-muted(href="#") Lốp xe du lịch
					.col-xs-12.col-md-4
						h4.text-white GIỚI THIỆU
						p
							a.text-muted(href="#") Về Tutto Việt Nam
						p
							a.text-muted(href="#") Hệ thống phân phối
					.col-xs-12.col-md-4
						h4.text-white LIÊN KẾT
						p
							a.text-muted(href="#") Chương trình khuyến mãi
						p
							a.text-muted(href="#") Tin tức
						p
							a.text-muted(href="#") Thư viện
						p
							a.text-muted(href="#") Tuyển dụng
						p
							a.text-muted(href="#") Liên hệ
section.container
			.row.copyright
				.text-muted &copy; 2018 TUTTO VIETNAM. ALL RIGHT RESERVES. DESIGN BY CANHCAM.
