<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row.align-items-center
			.col-md-2
				h3 Đăng ký nhận bản tin
			.col-md-4
				.text-muted Đăng ký email để nhận những thông tin mới nhất của Tutto Việt nam
			.col-md-4
				input(type="text" placeholder="Nhập email...")
			.col-md-2
				input.btn.btn-warning(type="button", value="Đăng ký")
			.row
				img(src="../../img/line_footer.png", alt="")
