<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="#") 
				img(src="img/logo.png", alt="Logo")
			//- Đây là nút sẽ hiển thị trong mobile
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				//- Thuộc tính '.mr-auto' này sẽ đẩy me nu về bên phải
				ul.navbar-nav
					li.nav-item.active
						a.nav-link(href="index.html")
							| Trang chủ
					li.nav-item
						a.nav-link(href="#") Giới thiệu
					li.nav-item
						a.nav-link(href="about.html") Sản phẩm
					li.nav-item
						a.nav-link(href="contact.html") Chương trình khuyến mãi
					li.nav-item
						a.nav-link(href="#") Tin tức
					li.nav-item
						a.nav-link(href="about.html") Tuyển dụng
					li.nav-item
						a.nav-link(href="contact.html") Liên hệ
				form.form-inline.my-2.my-lg-0
					span |
					img(src="img/header_img_01.png", alt="")
					img(src="img/header_img_02.png", alt="")
					span |
					button
						i.fa.fa-search

<!-- ////////////// HEADER ////////////// -->
