// Các Mixin viết vào đây
=duong-ke-duoi()
	position: relative
	height: 3px
	background: $warning
	width: 10%
	display: block
	margin-top: 0.5rem
	&:before,
	&:after
		display: block
		content: ''
	&:before
		width: 0
		height: 0
		border-top: 3px solid $warning
		border-left: 3px solid transparent
		position: absolute
		left: -3px
	&:after
		width: 0
		height: 0
		border-bottom: 3px solid $warning
		border-right: 3px solid transparent
		position: absolute
		right: -3px
